<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>StatementsOther</name>
    <guid>1175ae20-499c-4a62-8dc3-d3f495c29530</guid>
    <version>4.0.5</version>
    <date>2013-07-26</date>
    <description><![CDATA[Describe your ADC here
        v1.0.5 - removed CSS3 Pie
		v1.0.6 - enabled control to be used in loops
			   - added margin around responses
			   - set columns to 1 when width is less than 350px
			   - make all items the same height when there is more than one column
			   - fix ie7 hover bug causing elements to move when hovering
			   - fixed ie7 other text box resizing bug
		v1.0.7 - added range gradient direction variable
		v1.0.8 - fixed ie7/8 retained selection bug
		v1.0.9 - allow for multiple other please specifies
		v1.0.10 - other ID now references response id
		v1.0.11 - updated jquery to 1.11.1
			    - fixed image loading glitch
		v1.0.12 - fixed multiple other boxes not appearing problem
		v1.0.13 - fixed response sizing problem when merging screens
		v1.0.14 - fixed multiple other boxes appearing with exclusivity bug
		v1.0.15 - fixed alignment of the responses if column > 1
		v1.0.16 - fixed height param and textbox overflow
		v1.0.17 - removed visibility:hidden for ControlContainer
		v2.0.0 - Theme implementation,
		v2.0.1 - PureJS version
		v2.0.2 - Fixed Height of the responses
		v2.0.4 - Forced single column when screen width < 480px
		v2.0.5 - Fixed visibility of the control
		v2.0.6 - Added Merge column width parameter
		v2.0.7 - Fixed AutoForward
		v2.0.8 - Fixed AutoForward
		v2.0.10 - Fixed visibility of the adc when used in loop with vertical sub form
		v2.0.11 - Fixed hover styling for small screen
		v2.0.12 - Fixed textarea visibility when unselected by exclusive response
		v2.0.13 - Fixed height when nb colmuns > 1
		v2.0.14 - Fixed auto forward
		v2.0.15 - Added Flow direction
		v2.0.16 - Fixed Other text in database when unselect other
		v2.0.17 - Added alt attribute to img
				   - Added aria-labels to textarea
				   - Modifications for HTML5 compatibility
		v2.0.18 - Fixed closing div
		v2.0.19 - Fixed textbox visibility when single closed question and multiple others
		v2.0.20 - Fixed textbox data when single closed question and multiple others
		v2.0.21 - Fixed errors when single/multiple closed question without open ended.
		v2.0.22 - Fixed propagation on click on several other text.
		v2.0.23 - Fixed IE10 and lower
		v2.0.24 - Added non clickable responses (headers)
		v3.0.0 -Managed semi-open question with property types for D6 compatibility
        v3.0.2 - fixed response class on multiple on several columns
		v4.0.0 - Non clickable responses without prefixHeader
    v4.0.1 - Semi-open questions
    v4.0.2 - fix issue when columns > 0
    v4.0.3 - active headers - issue fux
    v4.0.4 - AvailableResponses & manageHeader = true
    v4.0.5 - manageSemiOpen = true
]]></description>
    <company>Askia</company>
    <author><![CDATA[Paul Ferreira <paulf@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL>https://dev.askia.com</helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="true" multiple="true" open="true" chapter="false" date="false" numeric="false" requireParentLoop="false" requireLoopDepth="0" manageHeader="true" manageSemiOpen="true"/>
      <constraint on="controls" responseblock="true" textbox="true" label="true" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="fallback">
    <output id="fallback" manageLoopDepth="0">
      <description><![CDATA[
        Fallback when the browser doesnacute;t support Javascript
      ]]></description>
      <condition><![CDATA[
        Not(Browser.Support("javascript"))
      ]]></condition>
      <content fileName="single.html" type="html" mode="dynamic" position="none" />
      <content fileName="multiple.html" type="html" mode="dynamic" position="none" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
    <output id="standard" manageLoopDepth="0">
      <description><![CDATA[
        Output when the browser support Javascript
      ]]></description>
      <condition><![CDATA[
        Browser.Support("javascript")
      ]]></condition>
      <content fileName="statements.css" type="css" mode="static" position="head" />
      <content fileName="standard.css" type="css" mode="dynamic" position="head" />
      <content fileName="standard.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="standard_single.html" type="html" mode="dynamic" position="none" />
      <content fileName="standard_multiple.html" type="html" mode="dynamic" position="none" />
      <content fileName="es5-shim.min.js" type="javascript" mode="share" position="head">
        <yield><![CDATA[
          <!--[if lt IE 10]>
            <script type="text/javascript" src="{%= CurrentADC.URLTo("share/es5-shim.min.js") %}"></script>
            <![endif]-->
        ]]></yield>
      </content>
      <content fileName="domready.js" type="javascript" mode="share" position="head" />
      <content fileName="rainbowvis.js" type="javascript" mode="share" position="head" />
      <content fileName="statementsOther.js" type="javascript" mode="static" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="standard_single.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="standard_multiple.js" type="javascript" mode="dynamic" position="none" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size for the control]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[
          The width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="string" mode="static">
        <description><![CDATA[
          The maximum width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="columns" name="Columns" type="number" mode="static">
        <description><![CDATA[
          The maximum width of the control
        ]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="columnsFlow" name="Flow direction of the columns" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The flow direction when multi columns]]></description>
        <value><![CDATA[horizontal]]></value>
        <options>
          <option value="horizontal" text="Horizontal" />
          <option value="vertical" text="Vertical" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="mergeColumnWidth" name="Merge column width" type="number" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Merge column width value in pixels]]></description>
        <value><![CDATA[480]]></value>
      </property>
      <property xsi:type="standardProperty" id="textAlign" name="Text Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imageAlign" name="Image Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the image in the responses
        ]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="animateResponses" name="Animate Responses" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the resonses fly into the screen]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoForward" name="Auto Forward" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the question continues to the next automatically if a single choice question]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Use a select list to enumerate all available responses.
            This option works with closed and numeric questions.
            For numeric question, the range between bounds should be inferior than 20. It take in account the step option.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="other" name="Other Response">
      <property xsi:type="standardProperty" id="otherColourPrimary" name="Other Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the other response]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="otherFontColour" name="Other Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour of the other response]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="otherBorderColour" name="Other Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour of the other response]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="otherBorderThickness" name="Other Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the other response]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="otherBorderRadius" name="Other Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the other response corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="otherBorderStyle" name="Other Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the other response]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="otherShadow" name="Other Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the other response]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="responses" name="Responses">
      <property xsi:type="standardProperty" id="responseTextPadding" name="Response Text Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will force the height of the reponses]]></description>
        <value><![CDATA[0.6em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseMargin" name="Response Margin" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[This will set the margin around the responses]]></description>
        <value><![CDATA[0.3em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextLineHeight" name="Response Text Line Height" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[When set this will force the height of the reponses]]></description>
        <value><![CDATA[{%= Theme.LineHeight %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHeight" name="Response Height" type="string" mode="static">
        <description><![CDATA[
          When set this will force the height of the reponses
        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="responseWidth" name="Response Width" type="string" mode="static">
        <description><![CDATA[
          When set this will force the width of the reponses
        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="responseColourPrimary" name="Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the item]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="useRange" name="Use a colour range" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will create a colour range between the primary and the range primary colours]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseColourRangePrimary" name="Response Background Colour Range" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the item]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="rangeGradientDirection" name="Response Gradient Direction" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The direction of the gradient on the responses]]></description>
        <value><![CDATA[ltr]]></value>
        <options>
          <option value="ltr" text="Left to Right" />
          <option value="ttb" text="Top to Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fontColour" name="Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseShadow" name="Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverColour" name="Show Response Hover Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverColourPrimary" name="Response Hover Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the response when hovering]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverFontColour" name="Show Response Hover Font Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the text of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverFontColour" name="Response Hover Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverBorder" name="Show Response Hover Border" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the border of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderColour" name="Response Hover Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderThickness" name="Response Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderStyle" name="Response Hover Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses when hovering]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverShadow" name="Response Hover Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses when hovering]]></description>
        <value><![CDATA[0px 2px 4px rgba(0,0,0,.2)]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedColourPrimary" name="Selected Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the selected item]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedFontColour" name="Selected Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderColour" name="Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.SecondaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderThickness" name="Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the selected responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderStyle" name="Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the selected responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedShadow" name="Selected Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the selected responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="nsResponses" name="Non-Scaled Responses">
      <property xsi:type="standardProperty" id="numberNS" name="Number of Non-Scaled Responses" type="number" mode="static">
        <description><![CDATA[
          The number of responses from the end that will have different styling to the rest of the options
        ]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseColourPrimary" name="Non-Scaled Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the non-scaled item]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsfontColour" name="Non-Scaled Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour of non-scaled item]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseBorderColour" name="Non-Scaled Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour of non-scaled item]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseBorderThickness" name="Non-Scaled Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the non-scaled responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseBorderStyle" name="Non-Scaled Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the non-scaled responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="nsResponseShadow" name="Non-Scaled Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the non-scaled responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedColourPrimary" name="Selected Non-Scaled Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the selected non-scaled item]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedFontColour" name="Selected Non-Scaled Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for selected non-scaled responses]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedBorderColour" name="Selected Non-Scaled Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected non-scaled responses]]></description>
        <value><![CDATA[{%= Theme.PrimaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedBorderThickness" name="Selected Non-Scaled Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the selected non-scaled responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedBorderStyle" name="Selected Non-Scaled Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the selected non-scaled responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="nsResponseSelectedShadow" name="Selected Non-Scaled Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the selected non-scaled responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="images" name="Images">
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="string" mode="static">
        <description><![CDATA[
          Set max image width
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="string" mode="static">
        <description><![CDATA[
          Set max image height
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force image size" type="string" mode="static">
        <description><![CDATA[
          Force height or width for all images
        ]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="no" text="No" />
          <option value="width" text="Force width" />
          <option value="height" text="Force height" />
          <option value="both" text="Force both" />
        </options>
      </property>
    </category>
    <category id="headers" name="Headers (non clickable responses)">
      <property xsi:type="standardProperty" id="showHeaders" name="Show Headers" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerColourPrimary" name="Header Background Colour" type="color" mode="dynamic" visible="true">
        <description><![CDATA[Background colour of the header item]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="headerFontColour" name="Header Font Colour" type="color" mode="dynamic" visible="true">
        <description><![CDATA[Header colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
    </category>
  </properties>
</control>
